@use 'styles/variables' as *;
@use 'styles/mixins' as *;

.section {
  display: flex;
  flex-direction: column;

  &__title {
    font-size: $font-size-xl;
    font-weight: 500;
    color: $color-text;
    margin-bottom: 4px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px 24px;

    @include respond-to($breakpoint-md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond-to($breakpoint-lg) {
      grid-template-columns: repeat(3, 1fr);
    }

    &--two-col {
      @include respond-to($breakpoint-lg) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
