@use 'variables' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-family;
  font-size: $font-size-base;
  color: $color-text;
  background: $color-bg;
  line-height: 1.5;
}

#root {
  min-height: 100vh;
}
