@use 'styles/mixins' as *;
@use 'styles/variables' as *;

.select {
  @include input-base;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' viewBox='0 0 10 6'%3E%3Cpath fill='%239e9e9e' d='M0 0l5 6 5-6z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 2px center;
  padding-right: 20px;
  cursor: pointer;

  &_error {
    @include input-error;
  }

  &_placeholder {
    color: $color-disabled-text;
  }
}
